Using account-wide sieve seems to duplicate messages

(This issue was imported from Gitea)
**rnkn** on August 4, 2021:
Hi Scott,

First, it's awesome that PM allows users to not only write their own sieve, but access via SieveManager.

So it's very likely I'm doing this wrong, but I added an account-wide (i.e. at https://purelymail.com/manage/accountSieve) reject rule:

```sieve
if anyof (
	header :contains "from" [
		"coinex.com",
		"moneyforyourmovie@gmail.com",
		"mumbaientertainmentisffi2021@gmail.com",
		"jackson@fdc-k.co.ke"
		],
	header :contains "reply-to" "info@wikiscreenplaycontest.com"
	)
{
	reject "Administrator ban";
	stop;
}
```

I then found that any message not caught by this rule would filter through my user account sieve rules (e.g. be filed into the correct folder) but also a *duplicate* message would land in INBOX, e.g.

```sieve
if anyof (exists "list-id", exists "list-unsubscribe")
{
	fileinto "Lists";
	stop;
}
```

...this rule would cause a message to land both in Lists and INBOX.

I've since removed the account-wide sieve rule and things have returned to normal, e.g. messages caught by the above rule land only in Lists.

Again, I'm probably doing this wrong, but it seems like adding account-wide sieve might be routing a message through account and user rules concurrently rather than consecutively?

Comment by **Scott** on August 5, 2021:
Hm, probably an issue with implicit-keep logic. I'll take a look.

Comment by **soma** on August 7, 2021:
I seem to have encountered a similar issue.

Goal is to have incoming messages be routed to different folders based on recipient address using the (more portable) code option rather than filters in the webui.

Section 2.10.2 of RFC 3028 claims

> That is, if a fileinto, a keep, a redirect, or a discard is performed, an implicit keep is not.

However, a message that subject to a fileinto and successfully processed, as evidenced by being in the folder specified, is also found in the Inbox. (The same behavior is found without the additional `discard`.)

```
if address :matches :all ["to","cc","bcc"] "testing@example.com"
{
    fileinto "testing";
    discard;
}
```

Comment by **rnkn** on August 7, 2021:
@soma this is a separate issue to using account-wide vs user sieve scripts.

For your case you just need to use:

```sieve
if address :matches :all ["to","cc","bcc"] "testing@example.com"
{
    fileinto "testing";
    stop;
}
```


Comment by **Scott** on August 11, 2021:
I think this should now be fixed. Let me know if you still experience any issues.