*._report._dmarc.purelymail.com TXT record needs semicolon at end

```
$ dig TXT example.com._report._dmarc.purelymail.com
...
;; ANSWER SECTION:
example.com._report._dmarc.purelymail.com. 3600 IN TXT "v=DMARC1"
```

this needs to be ``v=DMARC1;`` with a semicolon at the end

verify at https://www.mailhardener.com/tools/dmarc-validator by plugging in any domain using Purelymail DMARC reporting (except purelymail.com itself since that's first-party)

```
One or more of the external reporting endpoints is incorrectly configured. DMARC reports may not be delivered to all endpoints.
Inspection result | The 'v=DMARC1' version indicator must contain a trailing semicolon (RFC7489 section 6.4, errata 5440)
```

@ScottPeterJohnson Why this hasn't fixed yet? I was having problems with dmarc validation, it took me a long time to understand that the problem was on purelymail side

Huh. Fixed now.